/.*
/*
*/
!/.bashrc
!/bin
/bin/*
!/bin/brightness
!/bin/clang-format.py
!/bin/dpass
!/bin/format_code
!/bin/xquit
!/lib
!/.setup
!/.setup/*
!/.config/terminator/config
!/.gitignore
!/.gitconfig
!/.i3/
!/.i3/config
!/.inputrc
!/.profile
!/.screenrc
!/.tmux.conf
!/.emacs
!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/clang-format
!/.emacs.d/google-c-style
!/.vim/
!/.vim/*
/.vim/.netrwhist
!/.vimrc
!/.xinitrc
!/.xmodmaprc
!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs
!/.xprofile
!/.vim/autoload/
!/.jupyter/
/.jupyter/*
!/.jupyter/jupyter_notebook_config.py
