[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/coq/start/Coqtail"]
	path = .vim/pack/coq/start/Coqtail
	url = https://github.com/whonore/Coqtail.git
[submodule ".vim/pack/plugins/start/vim-openscad"]
	path = .vim/pack/plugins/start/vim-openscad
	url = git@github.com:sirtaj/vim-openscad.git
[submodule ".vim/bundle/haskell-vim"]
	path = .vim/bundle/haskell-vim
	url = git@github.com:AlexandreZani/haskell-vim.git
