/*
!/.bashrc
!/bin
/bin/*
!/bin/dpass
!/bin/xquit
!/.gitignore
!/.inputrc
!/.profile
!/.screenrc
!/.tmux.conf
!/.vim/
/.vim/.netrwhist
!/.vimrc
!/.xinitrc
!/.xmodmaprc
!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs
!/.xprofile
