/.*
/*
*/
!/.bashrc
!/bin
/bin/*
!/bin/dpass
!/bin/clang-format.py
!/bin/sf
!/bin/lap
!/bin/xquit
!/setup
!/setup/*
!/.config/terminator/config
!/.gitignore
!/.i3/
!/.i3/config
!/.inputrc
!/.profile
!/.screenrc
!/.tmux.conf
!/.emacs
!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/clang-format
!/.emacs.d/dash
!/.emacs.d/evil
!/.emacs.d/f
!/.emacs.d/flycheck
!/.emacs.d/fstar-mode
!/.emacs.d/google-c-style
!/.emacs.d/lean-mode
!/.emacs.d/s
!/.vim/
!/.vim/*
/.vim/.netrwhist
!/.vimrc
!/.xinitrc
!/.xmodmaprc
!/.xmonad/
/.xmonad/*
!/.xmonad/xmonad.hs
!/.xprofile
!/.vim/autoload/
!/.jupyter/
/.jupyter/*
!/.jupyter/jupyter_notebook_config.py
